.colors {
  color: #87bcde;
  color: #805e73;
  color: #2ba84a;
  color: #efe9f4;
  color: #484d6d;
}

html,
body {
  font-family: "Berkshire Swash", cursive;
  margin: 0px;
  padding: 0px;
}

.x-small-text {
  font-size: 8px;
}

.small-text {
  font-size: 16px;
}

.medium-text {
  font-size: 24px;
}

.medium-large-text {
  font-size: 32px;
}

.large-text {
  font-size: 48px;
}

.x-large-text {
  font-size: 64px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.nav__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.flexitem {
  margin: 4px;
}

nav {
  background-color: #805e73;
  padding: 8px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.nav__a {
  color: #efe9f4;
  margin: 4px 12px 4px 12px;
  cursor: pointer;
  text-decoration: none;
}

.nav__a:hover {
  color: #484d6d;
}

.first-flex-item {
  margin-right: auto;
}

.last-flex-item {
  margin-left: auto;
}

#welcome-section {
  background-color: #484d6d;
  padding-top: 84px;
  color: #efe9f4;
}

.welcome__div {
  padding-top: 32px;
  justify-content: center;
  align-items: center;
}

.profilepicture__img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.profilename__h2 {
  letter-spacing: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.positions__h2 {
  letter-spacing: 2px;
}

.socialmedia__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-bottom: 28px;
}

#project__section {
  background-color: #efe9f4;
  padding-top: 32px;
  color: #484d6d;
}

.project__h2 {
  letter-spacing: 4px;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.project__div {
  padding-top: 16px;
  justify-content: center;
  align-items: center;
}

.project-tile {
  background-color: #87bcde;
  width: 400px;
  margin: 32px 40px 32px 40px;
  border-style: solid;
  border-width: 4px;
  align-items: center;
}

.project-tile__img {
  height: 256px;
  width: 100%;
}

.project-caption__div {
  width: 100%;
  border-top: solid;
  border-width: 4px;
  justify-content: stretch;
  align-items: center;
}

.project-caption__lefticon {
  border-right-style: solid;
  padding: 16px;
}

.project-caption__text {
  flex: 1 1 auto;
  text-align: center;
}

#contact-section {
  background-color: #484d6d;
  padding-top: 32px;
  color: #efe9f4;
  padding-bottom: 32px;
}

.contact__div {
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 15%;
  margin-right: 15%;
}

.contact__h2 {
  letter-spacing: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.contact-form__div {
  justify-content: stretch;
}

.contact-form__label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.contact-form__input {
  padding: 8px;
  border-radius: 4px;
  background-color: #efe9f4;
  font-family: inherit;
}

.contact-form__submit {
  font-family: inherit;
  font-size: 24px;
  padding: 8px;
  border-radius: 4px;
  margin-top: 16px;
  background-color: #efe9f4;
  color: #484d6d;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
  padding: 8px;
  background-color: #efe9f4;
}
